.tit
  %h2.di=t '.title'
  = image_tag 'ebox.png', :class => 'right show btn-ebox'
.ebox.dn
  = render :partial => '/shared/ebox'
.content
  - if @phone_number
    = render :partial => '/phone_numbers/form'
    %hr
  = render :partial => '/phone_numbers/index'
